@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #efedd6;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 10px;
  font-size: large;
}
.box {
  background-color: steelblue;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(200%);
  transition: transform 0.6s ease;
  overflow-x: hidden;
}
.box:nth-last-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0%);
}
.box h2 {
  font-size: 30px;
}

/* https://stackoverflow.com/questions/10756313/javascript-jquery-map-a-range-of-numbers-to-another-range-of-numbers */
